# Core Streamlit framework and router
streamlit<=1.47.1
streamlit-option-menu<=0.4.0

# UI component libraries from your code
streamlit-extras<=0.7.5
streamlit-card<=1.0.2
streamlit-avatar<=0.1.3
streamlit-notify<=0.3.1
st-annotated-text<=4.0.2
streamlit-aggrid<=1.1.7

# For making API calls to the backend
requests<=2.32.4
